.box-blog-cate {
  padding: 80px 0 100px 0;
  @media (max-width: 1023px) {
    padding: 40px 0 64px 0;
  }
  @media (max-width: 767px) {
    padding: 24px 0 40px 0;
  }
  .side-blog-left {
    @media (max-width: 1023px) {
      display: none;
    }
  }
  .side-blog-right {
    @media (max-width: 1023px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
.title-blog-cate {
  font-size: 42px;
  font-weight: 500;
  font-family: Clash;
  margin-bottom: 42px;
  @media (max-width: 1600px) {
    font-size: 34px;
  }
  @media (max-width: 1200px) {
    font-size: 32px;
    margin-bottom: 32px;
  }
  @media (max-width: 767px) {
    line-height: initial;
    margin-bottom: 24px;
  }
}
.content-blog-cate {
  padding-left: 30px;
  @media (max-width: 1023px) {
    padding: 0;
  }
}
.item-news {
  margin-bottom: 42px;
  display: flex;
  align-items: center;
  @media (max-width: 1023px) {
    margin-bottom: 32px;
  }
  @media (max-width: 767px) {
    margin-bottom: 24px;
    flex-wrap: wrap;
  }
  &:last-child {
    margin-bottom: 0;
  }
  .avarta {
    flex: 0 0 459px;
    margin-right: 33px;
    @media (max-width: 1600px) {
      margin-right: 24px;
      flex: 0 0 45%;
    }
    @media (max-width: 1023px) {
      flex: 0 0 285px;
    }
    @media (max-width: 767px) {
      flex: 0 0 100%;
      margin: 0 0 16px 0;
    }
    .avr {
      position: relative;
      overflow: hidden;
      border-radius: 24px;
      padding-top: calc((100% * 342) / 459);
      @media (max-width: 767px) {
        border-radius: 16px;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
        transition: .3s all !important;
        &:hover {
          transform: scale(1.03);
        }
      }
    }
  }
  .info {
    h3 {
      a {
        display: block;
        color: #101010;
        font-size: 24px;
        font-weight: 600;
        @media (max-width: 1200px) {
          font-size: 20px;
        }
        @media (max-width: 1200px) {
          font-size: 20px;
        }
        @media (max-width: 767px) {
          font-size: 18px;
        }
        &:hover {
          color: $oran;
        }
      }
    }
    .desc {
      padding: 8px 0 42px 0;
      color: #888888;
      font-size: 18px;
      font-weight: 600;
      @media (max-width: 1200px) {
        font-size: 16px;
        padding: 8px 0 24px 0;
      }
      @media (max-width: 767px) {
        font-size: 14px;
        padding: 4px 0 0 0;
      }
    }
  }
  .btn-main {
    @media (max-width: 767px) {
      display: none;
    }
  }
}
.pagination {
  margin-top: 80px;
  width: 100%;
  justify-content: center;
  @media (max-width: 1023px) {
    margin-top: 32px;
  }
  @media (max-width: 767px) {
    margin-top: 24px;
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      margin-right: 12px;
      @media (max-width: 767px) {
        margin-right: 8px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  a {
    display: flex;
    width: 48px;
    height: 48px;
    border: 1px solid #E7E7E7;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    @media (max-width: 767px) {
      width: 40px;
      height: 40px;
    }
    &.active, &:hover {
      color: #fff;
      background: $oran;
      border: 1px solid $oran;
    }
  }
}
.item-content-blog {
  margin-bottom: 80px;
  @media (max-width: 767px) {
    margin-bottom: 48px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.grid-news {
  .row {
    margin: 0 -16px;
    @media (max-width: 1023px) {
      margin: 0 -12px;
    }
    @media (max-width: 767px) {
      margin: 0 -6px;
    }
    >div {
      padding: 0 16px;
      margin-top: 56px;
      @media (max-width: 1023px) {
        padding: 0 12px;
        margin-top: 32px;
      }
      @media (max-width: 767px) {
        padding: 0 6px;
      }
      &:first-child, &:nth-child(2), &:nth-child(3) {
        margin-top: 0;
      }
      &:nth-child(3) {
        @media (max-width: 1023px) {
          margin-top: 32px;
        }
      }
    }
    .col-md-4 {
      @media (max-width: 1023px) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
}
.iem-grid-blog {
  position: relative;
  color: #888888;
  font-size: 18px;
  font-weight: 600;
  @media (max-width: 1200px) {
    font-size: 16px;
  }
  @media (max-width: 767px) {
    font-size: 14px;
  }
  .avarta {
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    padding-top: calc((100% * 342) / 459);
    @media (max-width: 767px) {
      border-radius: 12px;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      object-fit: cover;
      transition: .3s all !important;
      &:hover {
        transform: scale(1.03);
      }
    }
  }
  .info {
    margin-top: 16px;
    @media (max-width: 767px) {
      margin-top: 12px;
    }
    a {
      display: block;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 8px;
      @media (max-width: 767px) {
        font-size: 16px;
        margin-bottom: 4px;
      }
    }
  }
}

.side-bar-blog {
  .avarta {
    margin-bottom: 40px;
  }
  h2 {
    font-size: 42px;
    font-weight: 500;
    font-family: Clash;
    line-height: 1.1;
    color: #101010;
    @media (max-width: 1600px) {
      font-size: 34px;
    }
    @media (max-width: 1200px) {
      font-size: 26px;
    }
  }
  .desc {
    padding: 16px 0 24px 0;
    font-size: 18px;
    color: #585858;
  }
}
.frm-bar-blog {
  border: 1px solid #E7E7E7;
  border-radius: 42px;
  height: 64px;
  padding: 8px;
  position: relative;
  .txt_field {
    outline: none;
    width: 100%;
    height: 100%;
    border: 0;
    background: transparent;
    padding: 0 15px;
    font-size: 16px;
    color: #101010;
    font-weight: 500;
  }
  .btn_field {
    background: $oran;
    height: 48px;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border-radius: 42px;
    cursor: pointer;
    padding: 0 24px;
    border: 0;
    outline: none;
  }
}

.content-detail {
  max-width: 948px;
  margin: 0 auto;
  .title-top-detail {
    padding: 64px 0;
    @media (max-width: 1023px) {
      padding: 40px 0;
    }
    @media (max-width: 767px) {
      padding: 32px 0 24px 0;
    }
    h1 {
      font-size: 76px;
      font-weight: 500;
      line-height: 1.1;
      margin-bottom: 32px;
      font-family: Clash;
      @media (max-width: 1600px) {
        font-size: 60px;
      }
      @media (max-width: 1023px) {
        font-size: 42px;
        margin-bottom: 24px;
      }
      @media (max-width: 767px) {
        font-size: 24px;
        margin-bottom: 16px;
      }
    }
    .tags-detail {
      ul {
        display: flex;
        justify-content: center;
        list-style: none;
        @media (max-width: 767px) {
          flex-wrap: wrap;
          justify-content: center;
        }
        li {
          margin-right: 8px;
          @media (max-width: 767px) {
            margin: 0 4px 4px 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      a {
        display: inline-flex;
        padding: 16px 32px;
        border: 1px solid #E7E7E7;
        border-radius: 50px;
        @media (max-width: 1023px) {
          padding: 12px 20px;
          font-size: 16px;
        }
        @media (max-width: 767px) {
          padding: 4px 12px;
          font-size: 14px;
        }
        &:hover {
          color: #fff;
          background: $oran;
        }
      }
    }
  }
}

.detail-text {
  color: #585858;
  margin-bottom: 42px;
  @media (max-width: 1023px) {
    font-size: 16px;
  }
  @media (max-width: 767px) {
    margin-bottom: 24px;
  }
  p {
    margin-bottom: 32px;
    @media (max-width: 767px) {
      margin-bottom: 24px;
    }
    img {
      max-width: 100%;
    }
  }
  h2, h3, h4, h5, h6 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #101010;
    @media (max-width: 1023px) {
      font-size: 20px;
    }
    @media (max-width: 767px) {
      font-size: 18px;
      margin-bottom: 12px;
    }
  }
}
.t-share {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
  @media (max-width: 1023px) {
    font-size: 20px;
  }
  @media (max-width: 767px) {
    font-size: 18px;
  }
}
.share-detail {
  margin-bottom: 64px;
  @media (max-width: 1023px) {
    margin-bottom: 56px;
  }
  @media (max-width: 767px) {
    margin-bottom: 24px;
  }
  ul {
    list-style: none;
    display: flex;
    li {
      margin-right: 24px;
      @media (max-width: 767px) {
        margin-right: 16px;
      }
      &:last-child {
        margin-right: 0;
      }
      img {
        @media (max-width: 767px) {
          width: 32px;
        }
      }
    }
  }
}
.detail-material {
  @media (max-width: 1023px) {
    font-size: 16px;
  }
  .t-share {
    @media (max-width: 1023px) {
      margin-bottom: 16px;
    }
  }
  ul {
    list-style: none;
    li {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  a {
    display: inline-flex;
    border-bottom: 1px solid $oran;
    color: $oran;
    @media (max-width: 767px) {
      border: 0;
      text-decoration: underline;
    }
  }
}
.box-detail-content {
  padding: 0 0 100px 0;
  @media (max-width: 1023px) {
    padding: 0 0 64px 0;
  }
  @media (max-width: 767px) {
    padding: 0 0 42px 0;
  }
}

.list-work-cate {
  .row {
    margin: 0 -16px;
    @media (max-width: 1023px) {
      margin: 0 -12px;
    }
    >div {
      padding: 0 16px;
      margin-bottom: 56px;
      @media (max-width: 1023px) {
        padding: 0 12px;
        margin-bottom: 32px;
      }
      @media (max-width: 767px) {
        margin-bottom: 24px;
      }
    }
  }
}
.item-work {
  position: relative;
  .avarta {
    position: relative;
    margin-bottom: 24px;
    overflow: hidden;
    border-radius: 24px;
    padding-top: calc((100% * 394) / 704);
    @media (max-width: 1023px) {
      margin-bottom: 12px;
      border-radius: 16px;
    }
    @media (max-width: 767px) {
      border-radius: 12px;
    }
    img {
      transition: .4s all !important;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      &:hover {
        filter: grayscale(1);
      }
    }
  }
  .info {
    color: #888888;
    font-size: 18px;
    @media (max-width: 1023px) {
      font-size: 16px;
    }
    a {
      display: block;
      font-size: 24px;
      font-weight: 500;
      font-family: Clash;
      margin-bottom: 4px;
      @media (max-width: 1023px) {
        font-size: 20px;
      }
    }
  }
}
.filter-work {
  border-bottom: 1px solid #E7E7E7;
  margin-bottom: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1023px) {
    display: block;
    margin-bottom: 56px;
    padding-bottom: 32px;
  }
  @media (max-width: 767px) {
    margin-bottom: 40px;
    padding-bottom: 24px;
  }
}
.tag-filter {
  @media (max-width: 767px) {
    overflow: auto;
  }
  ul {
    list-style: none;
    display: flex;
    @media (max-width: 767px) {
      width: max-content;
    }
    li {
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  a {
    display: inline-flex;
    padding: 16px 24px;
    line-height: inherit;
    font-weight: 600;
    border: 1px solid #E7E7E7;
    border-radius: 50px;
    @media (max-width: 1023px) {
      font-size: 16px;
      line-height: initial;
    }
    @media (max-width: 767px) {
      padding: 12px 24px;
    }
    &.active, &:hover {
      color: $oran;
      border: 1px solid $oran;
    }
  }
}
.all-txt-filter {
  font-size: 16px;
  color: #585858;
  @media (max-width: 1023px) {
    margin-bottom: 24px;
  }
  span {
    margin-left: 4px;
    color: $oran;
    font-weight: 600;
  }
}
.title-work-page {
  padding: 80px 0;
  font-size: 80px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  font-family: Clash;
  text-transform: uppercase;
  @media (max-width: 1600px) {
    font-size: 72px;
  }
  @media (max-width: 1023px) {
    padding: 40px 0 32px 0;
    font-size: 64px;
    display: inline-block;
    line-height: initial;
  }
  @media (max-width: 767px) {
    padding: 40px 0 24px 0;
    font-size: 42px;
  }
  svg {
    margin-right: 24px;
    @media (max-width: 1023px) {
      margin-right: 10px;
      height: 54px;
      width: auto;
      position: relative;
      top: 4px;
    }
    @media (max-width: 767px) {
      margin: 0;
      height: 32px;
    }
  }
  span {
    @media (max-width: 767px) {
      display: block;
    }
  }
}

.title-detail-wk {
  h1 {
    padding: 80px 0 42px 0;
    font-size: 80px;
    font-weight: 500;
    font-family: Clash;
  }
}